.aboutCard {
    min-height: 100vh;
    /* height: fit-content; */
    background-color: transparent;
    transition: transform 0.8s;
}

.expLink:hover {
    background-color: lightskyblue;
    transition: 1s;
    box-shadow: 12px 12px lightgrey;
}

.expLink{
    display: inline-flex;
    border: 1px solid blue;
    border-radius: 10px;
    box-shadow: 10px 10px lightslategray;
    transition: 0.5s;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.aboutFront {

    box-sizing: border-box;
    border: 3px solid #1974b0;
    border-radius: 10px;
    box-shadow: 10px 10px lightslategrey;
    /* height: auto; */
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 1s;
    
}

/* laptop down portrait */
@media screen and (max-width: 999px)and (orientation: portrait) {

    .aboutCard {
        min-height: 180vh;
        /* height: fit-content; */
        background-color: transparent;
        transition: transform 0.8s;
    }

 


    .aboutText {
        font-size: large;
        position: relative;
        transition: transform 0.8s;
        text-align: center;
        transform-style: preserve-3d;
    }

    .aboutFront {
        padding: 1rem;
        box-sizing: border-box;
        border: 3px solid #1974b0;
        border-radius: 10px;
        box-shadow: 10px 10px lightslategrey;
        /* height: auto; */
        /* width: 200vmin; */
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        color: black;
        transition: 1s;
    }

    .aboutFront:hover {
        box-shadow: 14px 14px lightslategray;
        transition: 1s;
    }

    .profile {
        border-radius: 180px;
        width: 100px;
        height: auto;
    }
}

/* laptop up portrait */
@media screen and (min-width:1000px) and (orientation: portrait) {



    .workCard {
        grid-row-start: 2;
        width: 100vmin;
        height: 50vmin;
        background-color: transparent;
        perspective: 1000px;
        transform-style: preserve-3d;
        transition: transform 0.8s;
    }

    .aboutText,
    .workText {
        font-size: large;
        position: relative;
        transition: transform 0.8s;
        text-align: center;
        transform-style: preserve-3d;
        width: 100vmin;
        height: 50vmax;
    }


    .aboutBack,
    .aboutFront,
    .workFront {

        box-sizing: border-box;
        border: 3px solid #1974b0;
        border-radius: 10px;
        box-shadow: 10px 10px lightslategrey;
        height: auto;
        /* width: 200vmin; */
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: 1s;
    }

    .workFront:hover,
    .aboutFront:hover,
    .aboutBack:hover {
        box-shadow: 14px 14px lightslategray;
        transition: 1s;
    }

    .aboutFront,
    .workFront {
        /* background-color: blue; */
        color: black;
    }

    .profile {
        border-radius: 180px;
        width: 10px;
        height: 10px;
    }

    .aboutBack {
        /* background-color: blue; */
        color: black;
        transform: rotateY(180deg) translateX(100%);
    }




}

/* laptop down landscape */
@media screen and (max-width: 999px) and (orientation: landscape) {





    .aboutText {
        font-size: large;
        position: relative;
        transition: transform 0.8s;
        text-align: center;
        transform-style: preserve-3d;
    }

    .aboutFront{
        padding: 1rem;
        box-sizing: border-box;
        border: 3px solid #1974b0;
        border-radius: 10px;
        box-shadow: 10px 10px lightslategrey;
        height: auto;
        width: 100%;
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        color: black;
        transition: 1s;
    }

    .aboutFront:hover{
        box-shadow: 14px 14px lightslategray;
        transition: 1s;
    }



    .aboutBack {
        transform: rotateY(180deg) translateX(100%);
    }

    .profile {
        border-radius: 180px;
        width: 100px;
        height: auto;
    }
}

/* laptop up landscape */
@media screen and (min-width:1000px) and (orientation: landscape) {


 

    .aboutText {
        font-size: large;
        position: relative;
        transition: transform 0.8s;
        text-align: center;
        transform-style: preserve-3d;
        /* width: 100vmin; */
        /* height: 50vmax; */
    }


    .aboutFront {

        box-sizing: border-box;
        border: 3px solid #1974b0;
        border-radius: 10px;
        box-shadow: 10px 10px lightslategrey;
        height: auto;
        /* width: 200vmin; */
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: 1s;
    }

    .workFront:hover,
    .aboutFront:hover,
    .aboutBack:hover {
        box-shadow: 14px 14px lightslategray;
        transition: 1s;
    }

    .aboutFront,
    .workFront {
        /* background-color: blue; */
        color: black;
    }

    .profile {
        border-radius: 180px;
        width: 10px;
        height: 10px;
    }

    .aboutBack {
        /* background-color: blue; */
        color: black;
        transform: rotateY(180deg) translateX(100%);
    }




}