/* @media screen and (max-width: 999px) {
    .aboutFront {
        font-size: large;
    }
} */


.abtHeader {

    display: flex;
    flex-direction: row;
    justify-content: center;
}


.aboutCard {
    --skew-a: -5deg;
    --background-image:linear-gradient(45deg, rgba(9, 62, 85, 0.545),rgba(27, 95, 130, 0.373) );
    --background-image-2:linear-gradient(45deg, rgba(9, 157, 220, 0.373),rgba(90, 141, 169, 0.373) );
   
    display: flex; 
    position: relative;
}

.aboutCard::before{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skewY(var(--skew-a));
    background: var(--background-image-2); 

}

.aboutCard::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skewY(calc(-1 * var(--skew-a)));
    background: var(--background-image); 
}

.aboutText{
    width: 100%;
   display: flex;
}

.aboutFront {
    text-align: center;
    font-size: xx-large;
    box-sizing: border-box;
    /* border: 1px solid #111; */
   border-radius: 10px;
    padding: 1rem;
    width: 100%;
    position: relative;
    transition: 1s;

}

.typeStr {
    font-family: 'VT323', monospace;
}

.cv {
    width: 100%;
    height: auto;
}

.cv p {
    padding-top: 10px;

    border-top: 1px solid #111;
}

p {

    border-bottom: none;
}