.form {
    border: 1px solid #111;
    border-radius: 10px;
    padding: 1rem;
    background: 
    linear-gradient(45deg, black , transparent ), 
    linear-gradient(-45deg, rgb(27, 25, 25) 10px, transparent 50px );
    display: grid;
    gap: 1rem;
}

#message {
    resize: vertical;
}

input,textarea{
    font-size: 3cqw;
}

#name,
#email,
#subject,
#message {
    resize: vertical;
    overflow: scroll;
    visibility: visible;
    width: 100%;
    color: #111;
    height: 10vh;
    border: 1px solid black;
    border-radius: 10px;


}

#message {
    min-height: fit-content;
    height: fit-content;
}

.formHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.submit {
    /* font-size: large; */
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px lightslategrey;
    border: 1px solid lightblue;
    margin-top: 1vh;

}
