@font-face {
  font-family: 'NewsFont';
  /* src: url('/fonts/TTF/Wilson wells.ttf') format('woff2'); */
  src: url('/fonts/poynter/PoynterText Regular.ttf') format('woff2');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  inset: 0;
  color: rgb(208, 181, 181);
  /* placement checker */
  /* border:1px solid lightgreen !important; */
}

html {
  /* width: screen; */
  color-scheme: dark light;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scrollPadding, 50px);
}

body {
  background-color: #111;
}

h4,
label,
p {
  font-family: 'NewsFont', monospace;
  border-bottom: 1px solid #111;
  font-size: xx-large;
}

a {
  color: inherit;

  font-family: 'NewsFont', monospace;
    font-size: large;
  text-decoration: none;
}
