@font-face {
  font-family: 'NewsFont';
  /* src: url('/fonts/TTF/Wilson wells.ttf') format('woff2'); */
  src: url('/fonts/poynter/PoynterText Regular.ttf') format('woff2');
}

* {
  box-sizing: border-box;
  inset: 0;
  color: rgb(208, 181, 181);
  /* error finder */
  /* border: 1px yellow solid !important; */
  font-family: 'NewsFont', monospace;
  }

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scrollPadding, 50px);
}

body {
  background-color: #111;
}


h4{
  font-size: 5cqmin;
}

label,
p {
  border-bottom: 1px solid #111;
  font-size: 3cqmin;
  letter-spacing: 0.5em;
  line-height: 1.5em;
}


a {
  color: inherit;
    font-size: 3cqmin;
  text-decoration: none;
}

button{
  font-family: inherit;
  font-size: 3cqmin;
}
