@font-face {
  font-family: 'NewsFont';
  /* src: url('/fonts/TTF/Wilson wells.ttf') format('woff2'); */
  src: url('/fonts/poynter/PoynterText Regular.ttf') format('woff2');
}

* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
  /* font-family: 'Courier New', Courier, monospace; */
  letter-spacing: 0.5cqw;
  /* line-height: 1cqh; */
  font-size: 3cqw;
  inset: 0;
  color: rgb(208, 181, 181);
  }
  /* *:not(img){
    width: 100%;
  } */

  /* *:is(img){
    width: 100%;
  } */

html {
  /* width: screen; */
  color-scheme: dark light;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scrollPadding, 50px);
}

body {
  background-color: #111;
}

h4,
label,
p {
  font-family: 'NewsFont', monospace;
  border-bottom: 1px solid #111;
  font-size: xx-large;
}

a {
  color: inherit;

  font-family: 'NewsFont', monospace;
    font-size: 3cqmin;
  text-decoration: none;
}



@media screen and (max-aspect-ratio:9/16) {
  *{
    width: 100%;
  }
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5cqmin;
  } 
}