.navbar {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 100dvw; */
    justify-content: space-evenly;
    padding: 1rem;
    width: 100svw;
    aspect-ratio: 1/1;
    height: 10rem;
    max-height: 10rem;
    position: static;
    align-items: center;
    border-radius: 10px;
    z-index: 3;
    background: none;

}

.navbar .links,
.navbar img,
.navbar .homeLink {
    border-bottom: 1px dashed #fff;
    stroke-dashoffset:10rem;
}


.navbar .contactCard {
    justify-content: flex-end;
}

.navbar .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    z-index: 2;
    justify-content: center;
}


.homeLink {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.codepen>a {
    cursor: pointer;
}

.codepen>a:hover {
    text-decoration: underline;
    color: black;
    background: linear-gradient(60deg, rgb(46, 104, 171), rgb(40, 218, 228));
}
