.navbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    padding: 0.5rem;
    width: 100%;
    height: fit-content;
    position: static;
    align-items: center;
    transition: 1s cubic-bezier(0.25, 0.1, 0.04, 0.9);
    border-radius: 10px;
    background: linear-gradient(55deg,rgba(137, 79, 79, 0.7),rgba(36, 97, 157, 0.7),rgba(209, 27, 185, 0.7),rgba(56, 239, 249, 0.7))
}

.navbar .contactCard {
    justify-content: flex-end;
}

.navbar .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}




.codepen>a {
    cursor: pointer;
}

.codepen>a:hover {
    text-decoration: underline;
    color: black;
    background: linear-gradient(60deg, rgb(46, 104, 171),rgb(40, 218, 228));
}

@media screen and (max-width:760px) {
    .navbar {

        display: flex;
        flex-direction: column;
    }
}