.expHeader {

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.expDiv {
    pointer-events: none;
    scroll-behavior: smooth;
    text-align: center;
    color: inherit;
    text-decoration: none;
    position: relative;
    /* border: 1px solid #eaeaea; */
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    /* border-color: #111; */
    box-sizing: border-box;
    transition: 1s;


}


.workCTN {
    flex-direction: row;
    display: grid;
    grid-template-rows: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    min-height: 0;
    width: 100%;
    transition: 2s ease;
}


.expCTN {
    --edgeSize: 0.5em;
    --background-image: linear-gradient(45deg, rgba(231, 233, 234, 0.464), rgba(47, 52, 180, 0.5));
    z-index: 0;
    cursor: pointer;
    display: grid;
    grid-template-rows: auto;
    min-height: 0;
    transition: 0.5s ease-out;
    /* background-color: red; */
    background:
        linear-gradient(45deg, black, transparent),
        var(--background-image);
    margin: 0.5rem;
    /* moves clockwise */
    clip-path: polygon(calc(var(--edgeSize)) 0, 100% 0, 100% 80%, calc(100% - var(--edgeSize)) 100%, 0 100%, 0% 20%);
}


.hideDescription {
    opacity: 0;
    height: 0;
    transition: 2s;
    transform: translate(-100rem);
}



.yearsEL,
.role,
.Company {
    z-index: 0;
    flex-grow: 3;
    text-align: center;
    list-style-type: none;
}