.skills {
    --skew-a: -3deg;
    --background-image-2: radial-gradient(rgb(253, 254, 255), rgba(246, 251, 254, 0.464), rgba(47, 52, 180, 0.5));
    --background-image: linear-gradient(-15deg, rgba(18, 97, 139, 0.904), rgba(91, 93, 141, 0.5));

    text-align: center;
    opacity: 1;
    display: grid;
    grid-template-areas: "header header"
                        "leftGallery  rightGallery";
    min-width: 0;
    width: 100%;
    position: relative;
    min-height: 0;
    height: 100%;
    /* z-index: -5; */
}




.skills::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    transform: skewY(calc(-1 * var(--skew-a))) rotate(180deg);
    background: 

    var(--background-image-2);
}

.skills::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skewY(var(--skew-a));
    background: 
    linear-gradient(-5deg, black , transparent 80px) 0 0 / 100% 50px repeat,
    var(--background-image);
}

.skillHDR {
    grid-area: header;
    position: relative;
    display: flex;
    justify-content: center;
}

.skillGallery {
    grid-area: leftGallery;
}

.skillGalleryRight {
    grid-area: rightGallery;
}


.skillGallery,
.skillGalleryRight {
    justify-content: center;
    display: grid;
    position: relative;
    gap: 10cqw
}




.skillsImg {
    display: inline-flex;
}




.progCTN {
    display: flex;
    flex-direction: row;
}


.prog {
    place-content: center;
    display: grid;
    position: relative;
    transform: translate(-105%, 0%);
    /* background-color: lightpink; */
    opacity: 0;
    color: inherit;
    font-weight: bold;
    font-size: larger;
    /* width: 70px;
    height: 69px; */
    z-index: 3;
    transition: 0.5s ease;
}



.imgElShow {
    transition: 1s;
    transform: translateX(0);
    opacity: 1;
}

.prog:hover {
    opacity: 1;
    transition: 0.5s ease-out;
    width: 77px;
    border: 1px solid transparent;
    background-image: linear-gradient(45deg, rgba(48, 54, 55, 0.7), rgba(7, 47, 128, 0.953));
    height: 73px;
}