/* globals */
.welcomeEl {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  border: 3px solid #1974b0;
  border-radius: 10px;
  box-shadow: 10px 10px lightslategrey;
  /* width: 75%; */
  height: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-row-start: 2;
  background-color: #0070f3;
  transition: 1s;
}

.welcomeEl:hover{
  box-shadow: 14px 14px lightslategray ;
  transition: 1s;
}

.pageHeader {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
   
}

/* laptop down landscape */
@media screen and (max-width: 999px) and (orientation: landscape) {


  .container {
    padding: 0 2rem;
    display: flex;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    flex-direction: column;
  }


  .pageHeader {
    display: inline-block;
    /* grid-template-columns: repeat(5, 60px); */
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .main {
    min-height: 100vh;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: max-content max-content;
  }

  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .title a {
    color: #0070f3;
    text-decoration: none;
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }

  .title,
  .description {
    text-align: center;
  }

  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .grid {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(3, [col-start] minmax(100px, 1fr) [col-end]);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    box-shadow: 10px 10px lightslategrey;
    max-width: fit-content;
    max-height: min-content;
    box-sizing: border-box;
    transition: 1s;
  }

  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
    box-shadow: 14px 14px lightslategrey;
    transition: 1s;
  }

  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }

  .welcome {
    border-right: solid 3px rgba(0, 255, 0, .75);
    animation: cursor-animate 650ms steps(29, end) infinite alternate-reverse;
  }

  @keyframes cursor-animate {
    from {
      border-right-color: rgba(0, 255, 0, 0.75);
    }

    to {
      border-right-color: transparent;
    }
  }



  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }

  @media (prefers-color-scheme: dark) {

    .card,
    .footer {
      border-color: #222;
    }

    .code {
      background: #111;
    }

    .logo img {
      filter: invert(1);
    }
  }
}
/* laptop up landscape */
@media screen and (min-width: 1000px) and (orientation: landscape) {


  .container {
    padding: 0 2rem;
    display: flex;
    /* grid-template-rows: repeat(3, minmax(0, 1fr)); */
    flex-direction: column;
  }


  .pageHeader {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .main {
    width: 100%;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .title a {
    color: #0070f3;
    text-decoration: none;
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }

  .title,
  .description {
    text-align: center;
  }

  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .grid {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(3, [col-start] minmax(100px, 1fr) [col-end]);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    box-shadow: 10px 10px lightslategrey;
    max-width: fit-content;
    max-height: min-content;
    box-sizing: border-box;
    transition: 1s;
  }

  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
    box-shadow: 14px 14px lightslategrey;
    transition: 1s;
  }

  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }

  .welcome {
    border-right: solid 3px rgba(0, 255, 0, .75);
    animation: cursor-animate 650ms steps(29, end) infinite alternate-reverse;
  }

  @keyframes cursor-animate {
    from {
      border-right-color: rgba(0, 255, 0, 0.75);
    }

    to {
      border-right-color: transparent;
    }
  }


  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }

  @media (prefers-color-scheme: dark) {

    .card,
    .footer {
      border-color: #222;
    }

    .code {
      background: #111;
    }

    .logo img {
      filter: invert(1);
    }
  }
}
/* laptop down portrait */
@media screen and (max-width: 999px) and (orientation: portrait) {


  .container {
    padding: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:repeat(3,12%)
  }


  .pageHeader {
    display: inline-block;
    margin-top: 1rem;
  }

  .main {
    width: max-content;
    height: auto;
    padding: 2rem 0.4rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 0.4fr));
  }

  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .title a {
    color: #0070f3;
    text-decoration: none;
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }

  .title,
  .description {
    text-align: center;
  }

  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .grid {
    display: grid;
    grid-template-columns: max-content;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    box-shadow: 10px 10px lightslategrey;
    max-width: fit-content;
    max-height: min-content;
    box-sizing: border-box;
    transition: 1s;
  }

  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
    box-shadow: 14px 14px lightslategrey;
    transition: 1s;
  }

  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }

  .welcome {
    border-right: solid 3px rgba(0, 255, 0, .75);
    animation: cursor-animate 650ms steps(29, end) infinite alternate-reverse;
  }

  @keyframes cursor-animate {
    from {
      border-right-color: rgba(0, 255, 0, 0.75);
    }

    to {
      border-right-color: transparent;
    }
  }


  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }

  @media (prefers-color-scheme: dark) {

    .card,
    .footer {
      border-color: #222;
    }

    .code {
      background: #111;
    }

    .logo img {
      filter: invert(1);
    }
  }
}
/* laptop up portrait */
@media screen and (min-width: 1000px) and (orientation: portrait) {


  .container {
    padding: 0 2rem;
    display: grid;
    /* grid-template-rows: repeat(3, minmax(0, 1fr)); */
    grid-template-columns: auto
  }


  .pageHeader {
    display: inline-block;
    /* grid-template-columns: repeat(5, 60px); */
    margin-top: 1rem;
  }

  .main {
    width: max-content;
    min-height: 100vh;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: max-content max-content;
  }

  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .title a {
    color: #0070f3;
    text-decoration: none;
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }

  .title,
  .description {
    text-align: center;
  }

  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .grid {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(3, [col-start] minmax(100px, 1fr) [col-end]);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    box-shadow: 10px 10px lightslategrey;
    max-width: fit-content;
    max-height: min-content;
    box-sizing: border-box;
    transition: 1s;
  }

  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
    box-shadow: 14px 14px lightslategrey;
    transition: 1s;
  }

  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }

  .welcome {
    border-right: solid 3px rgba(0, 255, 0, .75);
    animation: cursor-animate 650ms steps(29, end) infinite alternate-reverse;
  }

  @keyframes cursor-animate {
    from {
      border-right-color: rgba(0, 255, 0, 0.75);
    }

    to {
      border-right-color: transparent;
    }
  }


  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }

  @media (prefers-color-scheme: dark) {

    .card,
    .footer {
      border-color: #222;
    }

    .code {
      background: #111;
    }

    .logo img {
      filter: invert(1);
    }
  }
}