.skills {
    --skew-a: -3deg;
    --background-image-2: radial-gradient(rgb(253, 254, 255), rgba(246, 251, 254, 0.464), rgba(47, 52, 180, 0.5));
    --background-image: linear-gradient(-15deg, rgba(18, 97, 139, 0.904), rgba(91, 93, 141, 0.5));

    text-align: center;
    opacity: 1;
    display: inline-block;
    min-width: 0;
    width: 100%;
    position: relative;
    min-height: 0;
    height: 100%;
    /* z-index: -5; */
}

.skills::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    transform: skewY(calc(-1 * var(--skew-a))) rotate(180deg);
    background: var(--background-image-2);
}
.skills::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skewY(var(--skew-a));
    background: var(--background-image);
}

.skillHDR {
    position: relative;
    display: flex;
    /* z-index: 5; */
    justify-content: center;
}

.skillGallery,
.skillGalleryRight {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100px,100%), 1fr));
/* z-index: 10; */

}




.skillsImg {
    display: inline-flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 10%;
    /* background-color: lightgray; */
}




.progCTN {
    display: flex;
    flex-direction: row;
}


.prog {
    place-content: center;
    display: grid;
    position: relative;
    transform: translate(-105%, 0%);
    /* background-color: lightpink; */
    opacity: 0;
    color: inherit;
    font-weight: bold;
    font-size: large;
    width: 70px;
    height: 69px;
    z-index: 3;
    transition: 0.5s ease;
}


.imgElShow {
    transition: 1s;
    transform: translateX(0);
    opacity: 1;
}

.prog:hover {
    opacity: 1;
    transition: 0.5s ease-out;
    width: 77px;
    border: 1px solid transparent;
    background-image: linear-gradient(45deg,rgba(48, 54, 55, 0.7),rgba(7, 47, 128, 0.953));
    /* background-image: radial-gradient(closest-corner,rgba(140, 218, 225, 0.7),rgba(51, 224, 239, 0.953),rgba(39, 111, 165, 0.9)) ; */
    /* background-color: whitesmoke; */
    height: 73px;
}


/* @media screen and (max-aspect-ratio:16/9) {
    .skills {
        opacity: 0;
        padding: 1rem;
        text-align: center;
        position: relative;
        border: 1px solid #111;
        display: inline-block;
        min-height: 0;
        height: 100%;
    }
} */