.toggleDiv {
    margin: 15px;
    width: 80px;
}


.toggle {
    width: 80px;
    height: 32px;
    border-radius: 180px;
    position: absolute;
    background-color: lightgray;
    transition: 0.3s;
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked+.toggle {
    background-color: lightgrey;
}

input:checked+.toggle::after {
    left: 80px;
    transform: translateX(-100%);
    background-color: slategray;

}

.toggle::after {
    content: "";
    left: 0.3px;
    top: 1.4px;
    width: 30px;
    height: 29px;
    position: absolute;
    border-radius: 200px;
    background-color: whitesmoke;
    transition: 0.3s;
}

.toggle:active::after {
    width: 35px;
}

.toggle:hover::after {
    width: 35px;
}